<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
             default-autowire="byName">
  
	<bean id="user" class="com.forum.model.User"/>
	<bean id="authority" class="com.forum.model.Authority"/>
	<bean id="notice" class="com.forum.model.Notice"/>
  
	 <bean id="userDaoImp" class="com.forum.dao.UserDaoImp">
	 	<property name="user" ref="user"/>
	 	<property name="authority" ref="authority"/>
	 	<property name="ad" ref="authorityDaoImp"/>
	 </bean>
	 <bean id="authorityDaoImp" class="com.forum.dao.AuthorityDaoImp">
	 	<property name="authority" ref="authority"></property>
	 </bean>
	 <bean id="noticeDaoImp" class="com.forum.dao.NoticeDaoImp"></bean>
	
	<!-- 将URL直接映射到具体的业务控制器 -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="userRegister.do">userRegister</prop>
				<prop key="toIndex.do">toIndex</prop>
				<prop key="userLogin.do">userLogin</prop>
				<prop key="exit.do">exit</prop>
				<prop key="toRegister.do">toRegister</prop>
				<prop key="checkcode.do">checkcode</prop>
				<prop key="changeCheckcode.do">changeCheckcode</prop>
				<prop key="toLogin.do">toLogin</prop>
				<prop key="toSingel.do">toSingel</prop>
				<prop key="toModifyPwd.do">toModifyPwd</prop>
				<prop key="modifyPwd.do">modifyPwd</prop>
				<prop key="listUser.do">listUser</prop>
				<prop key="listNotice.do">listNotice</prop>
				<prop key="publishNotice.do">publishNotice</prop>
				<prop key="publishDocument.do">publishDocument</prop>
				<prop key="downloadDocument.do">downloadDocument</prop>
			</props>
		</property>
	</bean>
	<bean id="userRegister" class="com.forum.controller.UserRegisterController" scope="prototype">
		<property name="ud" ref="userDaoImp"/>
		<property name="user" ref="user"/>
	</bean>
	<bean id="toIndex" class="com.forum.controller.ToIndexController" scope="prototype"></bean>
	<bean id="userLogin" class="com.forum.controller.UserLoginController" scope="prototype">
		<property name="ud" ref="userDaoImp"/>
		<property name="user" ref="user"/>
	</bean>
	<bean id="toRegister" class="com.forum.controller.ToRegisterController" scope="prototype"></bean>
	<bean id="exit" class="com.forum.controller.ExitController" scope="prototype"></bean>
	<bean id="checkcode" class="com.forum.checkcode.Checkcode" scope="prototype"></bean>
	<bean id="changeCheckcode" class="com.forum.checkcode.ChangeCheckcode" scope="prototype"></bean>
	<bean id="toLogin" class="com.forum.controller.ToLoginController" scope="prototype"></bean>
	<bean id="toSingel" class="com.forum.controller.ToSingelController" scope="prototype"></bean>
	<bean id="toModifyPwd" class="com.forum.controller.ToModifyPwdController" scope="prototype"></bean>
	<bean id="modifyPwd" class="com.forum.controller.ModifyPwdController" scope="prototype">
		<property name="ud" ref="userDaoImp"/>
		<property name="user" ref="user"/>
	</bean>
	<bean id="listUser" class="com.forum.page.ListUserController" scope="prototype">
		<property name="ud" ref="userDaoImp"></property>
	</bean>
	<bean id="listNotice" class="com.forum.page.ListNoticeController" scope="prototype">
		<property name="nd" ref="noticeDaoImp"></property>
	</bean>
	<bean id="publishNotice" class="com.forum.controller.PublishNoticeController" scope="prototype">
		<property name="notice" ref="notice"></property>
		<property name="nd" ref="noticeDaoImp"></property>
	</bean>
	<bean id="publishDocument" class="com.forum.controller.DocumentPublishController" scope="prototype"/>
	<bean id="downloadDocument" class="com.forum.controller.DocumentDownloadController" scope="prototype"/>
	<!-- id的名字必须和HandlerMapping中保持一致。因为我们用的是SimpleUrlHandlerMapping -->
	
	<!-- 配置试图解析器 -->
	<!-- ViewResolver视图解析器 ，用于将返回的ModelAndView对象进行分离
	InternalResourceViewResolver：用于支持Servlet、JSP视图解析
	viewClass：JstlView表示JSP模板页面需要使用JSTL标签库，classpath中
		必须包含jstl的相关jar包，没有就可以不配置
	prefix和suffix：查找视图页面的前缀和后缀(前缀[逻辑视图名]后缀),
		比如传进来的逻辑视图名为WEB-INF/jsp/hello,则该jsp视图页面应该存放在"WEB-INF/jsp/hello.jsp" -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	 
</beans>
